/* 
    General Styles
*/

 .contact{
	align-items: center;
	display: flex;
    justify-content: space-between;	
 }
 
.edit-delete-contact{
    cursor: pointer;
    font-size: 20px;
    margin-right: 30px;
    color: rgb(42, 39, 43);
  }

  .button-Change{
      background-color: white;
      border:none;
  }

